*, *::before, *::after {
  box-sizing: border-box;
}
body{
  margin: 0;
}
.grid{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
}

.cell:nth-child(3n+1){
  border-left: none;
}

.cell:nth-child(3n+3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
  border-bottom: none;
}

.cell.x,
.cell.o{
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.grid.x .cell:not(.x):not(.o):hover::before,
.grid.x .cell:not(.x):not(.o):hover::after {
  content: '';
  width: 15px;
  height: 90px;
  position: absolute;
  background-color: black;
}

.cell.x::before,
.grid.x .cell:hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.grid.x .cell:hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.grid.o .cell:not(.x):not(.o):hover::before,
.grid.o .cell:not(.x):not(.o):hover::after {
  content: '';
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  background-color: black;
}

.cell.o::after,
.grid.o .cell:not(.x):not(.o):hover::after {
  width: 65px;
  height: 65px;
  background-color: #fff;
}

.grid.x .cell:not(.x):not(.o):hover::before,
.grid.x .cell:not(.x):not(.o):hover::after,
.grid.o .cell:not(.x):not(.o):hover::before {
  background-color: lightgray;
}

.winning-msg{
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 5rem;
  flex-direction: column;
}

.restart{
  font-size: 3rem;
  background-color: #fff;
  border: 1px solid #000;
  padding: .25em .5em;
  cursor: pointer;
}

.restart:hover{
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.winning-msg-hide{
  display: none;
}